.newyear{
    color: #fff;                
    text-align: center;
    background-image: url('../resources/Banner\ Image.png'); 
 background-repeat: no-repeat; 
 height: 400px; 
 width: 100%;
background-size: contain;
padding-top: 100px;

}
body{
margin: 120px;
}
.header{
    font-size: 72px; 
}
.fontStyle{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;

}
.perty{
  background-image: url('../resources/Vectorrr.png'); 
  height: 400px; 
 width: 100%;
background-size: contain;
padding-top: 100px;
color: #fff; 
background-repeat: no-repeat;
padding-left: 100px;

}

.font {
text-align: center;
color: #F00;
font-size: 24px;
font-weight: 500;
}

.secountfont{
    text-align: center;
    color: #070211;
font-size: 48px;
font-weight: 700;

}

.newyearimage{
  margin-left: 150px;
}
.gift{
    color: #F00;
    font-size: 24px;
    margin-left: 150px;
}

.image{

   inline-size: 15px;
    display: flex;
}
.subscribe{
    margin-top: 100px;
    text-align: center;
    background-size: contain;
    padding-top: 100px;
    height: 400px; 
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    background-color: antiquewhite;
}

.social-links{
    margin-top: 100px;
    text-align: center;
    background-size: contain;
    padding-top: 100px;
    height: 400px; 
    width: 100%;
    border-radius: 16px;
    background: #070211;
}
.Beach{
  color: #fff; 
  text-align: left;
  margin-left: 50px;
}
.com{
    color: #fff; 
    text-align: right; 
    margin-right: 60px;
}
.all{
 color: #fff;
 text-align: left;
 margin-left: 50px;
}
.al{
color: #fff;
text-align: right;
margin-right: 60px;
}
.Park {
    margin-top: 100px;
    text-align: center;
    background-size: contain;
    padding-top: 100px;
    height: 300px; 
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 100px;
    background-color: antiquewhite;

}


  



                              
