.newyear{
    color: #fff;                
    text-align: center;
    background-image: url('../resources/Banner\ Image.png'); 
 background-repeat: no-repeat; 
 height: 400px; 
 width: 100%;
background-size: contain;
padding-top: 100px;

}
body{
margin: 120px;
}
.header{
    font-size: 72px; 
}
.fontStyle{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;

}
.perty{
  background-image: url('../resources/Vectorrr.png'); 
  height: 400px; 
 width: 100%;
background-size: contain;
padding-top: 100px;
color: #fff; 
background-repeat: no-repeat;
padding-left: 100px;

}

.font {
text-align: center;
color: #F00;
font-size: 24px;
font-weight: 500;
}

.secountfont{
    text-align: center;
    color: #070211;
font-size: 48px;
font-weight: 700;

}

.newyearimage{
  margin-left: 150px;
}
.gift{
    color: #F00;
    font-size: 24px;
    margin-left: 150px;
}





  



                              
